server {
    listen 80;

    server_name {{item.domain}};

{% if item.server_extra is defined %}
    # Extra
    {{item.server_extra|indent}}
{% endif %}

{% if item.ssl is defined %}{% if site.ssl %}
    # Let's Encrypt
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{acme_cert_name}}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{acme_cert_name}}/privkey.pem;
    #include /etc/letsencrypt/options-ssl-nginx.conf;
    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    }
{% endif %}{% endif %}

    location / {
{% if item.auth_keychain is defined %}
        # HTTP basic auth
        auth_basic           "Auth for {{item.domain}}";
        auth_basic_user_file /etc/nginx/passwd/{{item.auth_keychain}}; 
{% endif %}

{% if item.location_extra is defined %}
        # Extra
        {{item.location_extra|indent|indent}}
{% endif %}

        root	/var/www/goaccess;
        index	report.html;
    }

}
